<h1>Edit your card</h1>

<%= render 'form' %>


<br>
<%= button_to 'Remove',
            card_path(@card.id),
            class: 'button',
            method: :delete,
            data: {confirm: 'Are you sure?'} %>
